.quiz-card {
  width: 80%;
  margin: 20px auto;
  box-shadow: 0px 0px 10px #ccc;
  padding: 20px;
  text-align: start;
}
h3.quiz-title {
  margin-top: 0;
  font-size: 26px;
  text-transform: capitalize;
}
p.quiz-desc {
  font-size: 18px;
  color: #666565;
}
.quiz-meta {
  display: flex;
  gap: 20px;
}
.quiz-page {
  padding: 20px;
  margin: 20px auto;
  width: 80%;
}
.question-card {
  box-shadow: 0px 0px 10px #ccc;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}